html, body { /* Garante que o body ocupe toda a altura da página*/
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
    background-image: url('image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'IM Fell English SC', serif;
    color: #3e2f1c;
    display: flex;
    flex-direction: column; 
  }
  header {
    text-align: center;
    padding: 40px 20px 20px;
    background-color: rgba(255, 248, 220, 0.7);
    border-bottom: 2px solid #3e2f1c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    margin: 0;
    color: #2f1b0c;
    text-shadow: 1px 1px 0 #fff;
  }
  .box {
    max-width: 800px;
    margin: 30px auto;
    background-color: rgba(255, 248, 220, 0.8);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border: 2px solid #c2a97f;
  }

 .box p {
    font-size: 1.2em;
    line-height: 1.6;
    text-indent: 2em;
  }
  nav {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  nav a {
    text-decoration: none;
    color: #4b2e1a;
    background-color: rgba(255, 248, 220, 0.7);
    padding: 8px 16px;
    margin: 5px;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid #bfa36f;
    transition: 0.3s;
  }

  nav a:hover {
    background-color: #d1b790;
    color: white;
  }
  .schedule { /*ALINHAMENTO DO MAPA E TEXTO*/
    padding: 20px;
    margin-bottom: 20px;
}

.schedule-item {
    display: flex;
    align-items: flex-start;
    padding: 15px 0;
}

.schedule-item:last-child {
    border-bottom: none;
}

.schedule-item img {
    width: 350px;
    height: auto;
    margin-right: 20px;
}
.schedule-item-text {
    display: flex;
    flex-direction: column;
}
.schedule-item p {
    margin-right: 20px;
    margin-left: 20px;
}
  .rodape {
    background-color: rgba(255, 248, 220, 0.7);
    text-align: center;
    font-size: 16px;
    padding: 20px;
    margin-top: auto; /* Empurra o rodapé para o final */
    border-top: 1px solid #ccc;
  }
